<!--header -->
<% include partials/header.ejs %>

<!--Main content-->

<div class = "row1">

<div class ="col-md-8" 
<br>
<div class= "load"
<br>
     <i id="loading" class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
</div>
<div class="et"
<br>
<h1 id="emerging">Emerging </h1>
<h1 id="tech">Technology </h1>
       </div>
        
</div>
        <div class ="col-md-4" 
<br>
      <h1 id ="homeHeader"><%= title %></h1>
      <p id ="paraHome">This is a Portfolio Assignment for Emerging technology 
       Where we are learning how to work with Node.js, EJS and having lots of new technologies.</p>
       
 </div>
        </div>
        

</div>
<!--About me Page -->

<div id="about"
<br>
<div class ="col-md-6" 
<br>
 <img id="avatar" src="/Assets/images/avatar.png"></img>
 <div class="details"
 <br>
 <h3>Software Engineering Technology</h3>
 <h4>Centennial College</h4>
 
</div
 </div>
       </div>
      
 
         <div class ="col-md-6" 
<br>
    <h1 id="AboutHeader"><%= title2 %></h1>
    <div class"content"
    <br>
        <p> I am Mekhal Ganesh, Student at Centennial College.</p> 
        <p>I did my coop in Ministry of Community and Social Services of Ontario as a Software Tester. </p>
        <p>I would like to do development or testing</p>
        </div>
        <h3>My Skills:</h3>
        <div class= "skills"

        <div class="progress">
        
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="75" aria-valuemin="0" aria-valuemax="50" style="width:75%"> Html : 75%</div>
  <br><br>
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="65" aria-valuemin="0" aria-valuemax="50" style="width:65%"> CSS : 65%</div>            
  <br><br>
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="65%" aria-valuemin="0" aria-valuemax="50" style="width:65%"> C# : 65%</div>
    <br><br>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
  aria-valuenow="85" aria-valuemin="0" aria-valuemax="50" style="width:85%"> Testing: 85%</div>
  <br><br>
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
  aria-valuenow="80" aria-valuemin="0" aria-valuemax="50" style="width:80%"> HPQC : 80%</div>
  

  


</div>
        </div>

        
 </div>
       
        </div>

 <!--Project Page -->
<div id="project"
<br> 
 <h2 id="AboutHeader"><%= title3 %></h2>
       <div class="row3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/Assets/images/pm.png" alt="passManager">
      <div class="caption">
        <h3>Password Manager</h3>
        <p>
        A C# application to store password and usesrname</p>
        <p>Group Project</p>       
       
      </div>
    </div>
  </div>
</div>
  <div class="row3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/Assets/images/intStu.jpg" alt="students">
      <div class="caption">
        <h3>International Student Website</h3>
        <p>
      Created a website for international students using Html, CSS and JavaScript</p>
        <p>Group Project</p>
        
      </div>
    </div>
  </div>
</div>
  <div class="row3">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="pay" src="/Assets/images/payroll.png" alt="payroll">
      <div class="caption">
        <h3>Pay Roll Application</h3>
        <p>
        A C# application to store employee details and calculate their payroll for a small company.</p>
        <p>Group Project</p>
        
       
      </div>
    </div>
  </div>
</div>

        </div>
<!--Service page -->

<div id ="service"
<br>
 <h2 id="AboutHeader"><%= title4 %></h2>
<br>
<div class="web"
<br>
 <img id="web" src="/Assets/images/Web_ic.png" alt="payroll">
 <h3>Web Site Design</h3>

 </div>
<div class="test"
<br>
<img id="test" src="/Assets/images/test_icon.png" alt="payroll">
  <h3>Testing</h3>
</div>
</div>


<!--Contact ME Page -->
   <div id="contact">
   
   <h2 id="AboutHeader"><%= title5 %></h2>
   <br><br>
   <form class="form-horizontal" action="mailto:mekhaleganesh@gmail.com" method="post" enctype="text/plain">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Full Name </label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Enter your name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Subject</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Enter your Subject" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">E-mail</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Enter your email id" class="form-control input-md">
    
  </div>
</div>



<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Message</label>
  <div class="col-md-4">                     
    <textarea class="form-control" placeholder="Enter your message" id="textarea" name="textarea"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit"<a href="mailto:mekhaleganesh@gmail.com"></a>submit</button>
  </div>
</div>
</form>
<br>

<!--icons for social websites -->
<div class="social">
                    <a href="https://www.facebook.com/mekhaleganesh"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/mekhalganesh"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/u/0/108268270952412527820"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
</div>
   </div>       


<!-- footer-->
<% include partials/footer.ejs %>



